body {
    background: center url(./images/photoholgic--B_pcqa1wCQ-unsplash.jpg);
    background-size: cover;
}
.main {
    color: white;
    height: 100svh;
    display: grid;
    grid-template-rows: 60px 1fr 40px;
    text-shadow: 2px 1px 4px white;

    & .header {
        // background-color: rgb(0, 0, 0);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        // box-shadow: 0px 0px 10px white; 
    }

    & .mainGame {

        & .gameboard {
            display: grid;
            grid-template: repeat(3, 100px) / repeat(3, 100px);
            justify-content: center;
            gap: 1rem;
            margin: 1.5rem 0;
            
            & .square {
                cursor: pointer;
                box-shadow: 0px 0px 10px white;
                border-radius: 6px;
                font-size: 5rem;
                display: flex;
                justify-content: center;
                // align-items: center;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        & .controlsAndMsgs {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;
            // background-color: black;
            

            & .btns {
                display: flex;
                gap: 1rem;

                & .newGame, .resetBoard {
                    width: 100px;
                    height: 40px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0px 0px 10px white;
                    font-weight: 800;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
                & .newGameDialog {
                    
                    & fieldset {
                    display: flex;
                    flex-direction: column;
                    gap:1rem;

                    & .gameTypeChoice {
                        display: flex;
                        justify-content: space-between;
                       
                    }

                    & .startGame {
                        width: 100px;
                        height: 40px;
                        border-radius: 8px;
                        border: none;
                        outline: none;
                        background-color: rgb(255, 255, 255);
                        box-shadow: 0px 0px 10px white;
                        font-weight: 800;
                        cursor: pointer;
                        border: 1px solid black;
                        margin: auto;
    
                        &:hover {
                            transform: scale(1.1);
                        }
                    }}}
            }

            & .msgs {
                font-size: 1.1rem;
                text-align: center;

                & .results {
                    margin-top: .5rem;
                    font-size: 2rem;
                }
            }

        }
    }
    & .footer {
        // background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
